<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name=theme-color content=#00A7D0>
    <meta name="description" content="Learn to write Malayalam - A simple application to observe and learn how to write Malayalam letters.">
    <link rel="icon" href="/favicon.ico">
    <title>Learn Malayalam</title>
  </head>

  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
    <!-- built files will be auto injected -->
    <footer>
      <p>A simple application to observe and learn how to write Malayalam letters.</p>
      <p>&copy; Santhosh Thottingal 2022| <a href="https://gitlab.com/smc/mlmash">Source code</a></p>
    </footer>
  </body>

</html>